.AboutSectionSecondDiv{
    /* margin-left: 2%; */
    padding: 4%;
}

.HR-Tag{
    opacity: 15%;
}

.FirstAlphabetText{
    margin-left: 4%;
    color: #F2A900;
    border-bottom: 1px solid #F2A900;
}

.HOne-Text{
    color: #dadada;
}

.AboutUs-Text{
    line-height: 1.5;
    color: lightslategray;
}

.Hello-Piyush-Line{
    font-weight: bold;
}

.Skill-Div{
    margin-top: 12%;
}

.HFourTag-Span-Div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    line-height: 0.1;
}

.HFourTag-SpanTag{
    display: flex;
    align-items: center;
    justify-content: center;
}

.SpanTag-Text{
    color: lightslategray;
}

.HFour-Text{
    color: #F2A900;
}