/* Form.css */
.form-container{
    padding: 4%;
    margin-top: 3%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  margin-bottom: 10px; /* Adjusted spacing */
  font-size: 14px;
  font-weight: 500;
  color: #b3b3b3;
}

input, textarea {
  background-color: transparent; /* Transparent input for same look */
  border: none;
  border-bottom: 2px solid #555;
  color: #fff;
  padding: 12px 10px;
  font-size: 15px;
  outline: none;
  transition: border-color 0.3s ease;
}

input::placeholder, textarea::placeholder {
  color: #777;
}

input:focus, textarea:focus {
  border-bottom: 2px solid #fff;
}

textarea {
  resize: none;
  height: 80px; /* Reduced height */
}


.SendButton-RightIcon{
    display: flex;
    align-items: center;
    justify-content: start;
    color: #dadada;
    margin-bottom: 5%;
    margin-top: 3%;
    gap: 6px;
    transition: 0.5s;
}

.send-button{
    border-style: none;
    background: transparent;
    color: #dadada;
    font-weight: 600;
    font-size: 16px;
    transition: 0.5s;
}

.send-button:hover{
    color: #F2A900;
    transition: 0.5s;
    cursor: pointer;
    transform: translateX(3px);
}

.SendButton-RightIcon:hover{
    cursor: pointer;
    color: #F2A900;
    transition: 0.5s;
    transform: translateX(3px);
}